@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="row">

      <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  
                  <p class="card-description">
                    <a class="btn btn-success fs-5"  asp-action="create">Add Product</a>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Image</th>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Category</th>
                          <th>Available</th>
                          <th>Settings</th>
                        </tr>
                      </thead>
                      <tbody>
                        @foreach (var item in Model)
                       {
                            count++;
                           <tr>
                          <td>@count</td>
                          <td> 
                             <img style="border-radius:0; width:100px; height:100px" src="~/img/@item.ImageUrl"/> 
                              </td>
                          <td>@item.Name</td>
                          <td> $@item.Price</td>
                          <td> @item.Category.Name</td>
                          <td> @item.Count</td>
                          <td>
                              <a class="btn btn-warning fs-5"  asp-action="update" asp-route-id="@item.Id"><i  class="mdi mdi-key-plus"></i></a>
                              <a class="btn btn-success fs-5" asp-action="detail" asp-route-id="@item.Id"><i class="mdi mdi-information-outline"></i></a>
                              <a class="btn btn-danger fs-5" asp-action="delete" asp-route-id="@item.Id"><i class="mdi mdi-delete-forever"></i></a>

                          </td>
                        </tr>
                       }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

</div>


