@model List<Product>

     @foreach (var item in Model)
                  {
                       <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div class="product-item text-center" data-id="@item.Category.Name.ToLower()">
                            <div style="width:240px; height:300px;" class="img">
                                <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">
                                    <img src="~/img/@item.ImageUrl" width="100%" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="title mt-3">
                                <h6>@item.Name</h6>
                            </div>
                            <div class="price">
                                <a style="cursor:pointer" id="plus" data-id="@item.Id" class="item-adder text-black-50">Add to cart</a>
                                <span class="text-black-50">$ @item.Price</span>
                            </div>
                        </div>
                    </div>
                  }